/* root elements */
:root {
  font-size: 16px;
  --line-height: calc(2em + 0.1vh);
  --txt-color: rgba(146, 146, 146, 0.97);
  --link-color: rgba(16, 83, 24, 0.596);
  --txt-focus: rgba(0, 0, 0, 0.85);
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

/* split content between two sides */

.content-wrapper,
.hero {
  display: flex;
  flex-flow: row nowrap;
}

html,
body {
  height: 100%;
}

.content-wrapper {
  height: 100%;
  border: 1px solid black;
}

/* ================= */

/* left side styling */
.hero-wrapper {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vw;
}

/* hero styling */
.hero {
  background-color: rgba(92, 99, 97, 0.297);
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25vh;

  gap: 3em;
  color: white;
  font-size: 2vh;
}

.hero img {
  height: 15vh;
}

/* ================= */

/* right side styling */
.content-right {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.747);
  flex-flow: column nowrap;
  justify-content: center;
  border: 1px solid black;
}

/* right side content description */

.padding {
  padding: 0 calc(2em + 0.1vw);
}

p {
  font-size: 1.2em;
  font-weight: 550;
  line-height: var(--line-height);
}

.description-wrapper .last-text {
  padding: 1em 0;
}

.italic {
  font-style: italic;
}

/* form styling */

.form {
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 3em;
}

.form .form-title {
  padding-bottom: 2em;
}

.form-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  gap: 8px;
}

.input label,
.input input {
  text-transform: uppercase;
  color: var(--txt-color);
}

.input input {
  height: 3em;
  border: 0.5px solid var(--txt-color);
  padding: calc(1.2em + 0.1vw);
  border-radius: 15px;
  font-weight: 550;
  font-size: 1;
}

/* login style */
.submit-wrapper {
  padding-top: 0.8em;
  line-height: var(--line-height);
}

.submit-button button {
  background-color: var(--link-color);
  padding: 25px;
  width: 25%;
  border-radius: 50px;
  border: 1px solid rgba(16, 83, 24, 0.3);
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 10px -10px #000000;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.submit-wrapper a {
  color: var(--link-color);
  text-decoration: none;
}

/* validation */
.input input:focus {
  outline: none;
  border: 2px solid var(--txt-focus);
  color: var(--txt-focus);
}

.input input:invalid {
  /* border: 1px solid red; */
  color: rgba(255, 0, 0, 0.932);
}

/* mobile navigation */
/* @media only screen and (max-width: 600px) {
    
} */
