/* root elements */
:root {
  font-size: 16px;
  --line-height: calc(2em + 0.1vh);
  --txt-color: rgba(146, 146, 146, 0.97);
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

html {
  min-height: 100%; /* Look, it's not fixed anymore! */
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  flex-grow: 1;
}

/* split content between two sides */

.content-wrapper,
.hero {
  display: flex;
  flex-flow: row nowrap;
}

.content-wrapper {
  height: 100%;
}

/* ================= */

/* left side styling */
.hero-wrapper {
  background-image: url("./assets/background.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vw;

  /* height: 100%; */
}

/* hero styling */
.hero {
  background-color: rgba(92, 99, 97, 0.297);
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25vh;

  gap: 3em;
  color: white;
  font-size: 2vh;
}

.hero img {
  height: 15vh;
}

/* ================= */

/* right side styling */
.content-right {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.514);
  flex-flow: column nowrap;
  justify-content: center;
}

/* right side content description */

.padding {
  padding: 0 calc(2em + 0.1vw);
}

p {
  font-size: 1.2em;
  font-weight: 550;
  line-height: var(--line-height);
}

.description-wrapper .last-text {
  padding: 1em 0;
}

.italic {
  font-style: italic;
}

/* form styling */

.form {
  -webkit-box-shadow: 11px 11px 7px -6px rgba(0, 0, 0, 0.84);
  box-shadow: 11px 11px 7px -6px rgba(0, 0, 0, 0.84);
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 3em;
}

.form .form-title {
  padding-bottom: 2em;
}

.form-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  gap: 8px;
}

label,
input {
  text-transform: uppercase;
  color: var(--txt-color);
}

input {
  height: 3em;
  border: 0.5px solid var(--txt-color);
  padding: calc(1.2em + 0.1vw);
  border-radius: 15px;
  font-weight: 550;
  font-size: 1;
}

/* login style */
.submit-wrapper {
  padding-top: 0.8em;
  line-height: var(--line-height);
}
